@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-success card-header-text" style="margin-bottom:20px">
                <div class="card-text"><h4 class="card-title">@ViewBag.Title</h4></div>
            </div>
            <div class="text-center">
                <h1 class="display-4">Welcome To KUSYS_Demo</h1>
                <img style="margin:80px;" src="~/koc_uni_logo.png" width="800px" />
            </div>
        </div>
    </div>
</div>